<?xml version="1.0" ?>
<launch>
  <master auto="start"/>

  <include file="$(find qingzhou_nav)/launch/$(env DZLIDAR).launch" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(find qingzhou_nav)/maps/2022_7_17.yaml" output="screen"/>

  <include file="$(find qingzhou_nav)/launch/amcl.launch" />

  <!--<node pkg="amcl" type="amcl_auto" name="robot_global_localization" output="screen">-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find qingzhou_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find qingzhou_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find qingzhou_nav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find qingzhou_nav)/config/global_planner_params.yaml" command="load" />
    <rosparam file="$(find qingzhou_nav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find qingzhou_nav)/config/teb_local_planner_params.yaml" command="load" />
    <rosparam file="$(find qingzhou_nav)/config/flag.yaml" command="load" />
    <!-- <remap from="/cmd_vel" to="/cmd_vel_111" /> -->
	
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
      <param name="controller_frequency" value="10.0"/> 
    <param name="controller_patiente" value="15.0"/>
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
  </node>
  

</launch>
